* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: "Science Gothic", sans-serif;
}

body {
    margin: 0;
    min-height: 100dvh;
}

.bienvenida {
    padding-top: 10px;
    color: red;
    justify-self: center;
    
}

.desc {
    padding-top: 5px;
    justify-self: center;

}

.contenedor {
    display: flex;
    justify-content: center;  
}

a {
    text-decoration: none;
}

tr {
    background-color: red;
    height: 45px;
}


.nav_menu {
    padding-top: 10px;
    padding-bottom: 10px;


}   

.lista_menu {
    padding-left: 20px;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.links_menu {
    padding-right: 10px;
    text-decoration: none;
}

.links_menu:visited{
    color: blue;
    text-decoration: none;
}

.links_menu:hover {
    text-decoration: underline;
}

.ranking_tabla {
    padding-top: 2vh;
    padding-left: 2vw;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: aqua;
    width: 90vw;
}

.posicion_ranking {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: aqua;
    width: 90vw;

}

.item_ranking {
    justify-self: left;
    padding-right: 3vw;
    border: 1px;
    border-color: black;
    border-style: solid;
}

#rank {
    width: 10%;
}

#nombre_jugador {
    width: 55%;
}

#tiempo_jugador {
    width: 15%;
}

#puntaje_jugador {
    width: 20%;
}

.datos {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 0;
    border-top: 1px;
    border-style: solid;
    color: black;
}

.btn_green {
    text-decoration: none;
    display: inline-block;
    background-color: #4f46e5;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_green:hover {
    background-color: #76ce53;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn_green:visited {
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 50px auto;

    font-size: 1.2rem;
}

.form_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form_group, input {
    flex-grow: 1;
}

.form_group_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn_submit {
    text-decoration: none;
    display: inline-block;
    background-color: #4f46e5;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    
    /* Evita que el botón se estire si está en un flex container */
    align-self: center;
}

.btn_submit:hover {
    background-color: #76ce53;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn_submit:visited {
    text-decoration: none;
}